body {
  background: #000000;
  color: white;
  background-image: url("https://wallpapers.com/images/featured/plzcoaffexgf4h81.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.favouriteBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: large;
  margin: 10px;
  margin-left: 20px;
  border-radius: 10px;
  color: #fff;
  border: none;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 13px #ffffff;
  background: transparent;
}
.favouriteBtn:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0px 0px 13px #f4e803;
}
.watchLaterBtn {
  position: absolute;
  bottom: 0;
  border-radius: 10px;
  right: 0;
  margin: 15px;
  margin-left: 20px;
  color: #fff;
  border: none;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 13px #ffffff;
  background: transparent;
}
.watchLaterBtn:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0px 0px 13px #f4e803;
}
.movieCard {
  border-radius: 30px;
  box-shadow: 0px 0px 13px #ffffff;
  display: flex;
  cursor: pointer;
  position: relative;
  background-color: #000000c3;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 3rem) / 4);
  margin: 2rem;
  min-width: max-content;
  max-width: 250px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
}
.movieCard:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease-in-out;
}

.movieCard img {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.movieCard h4 {
  text-align: center;
  max-width: 200px;
  overflow-wrap: break-word;
  margin-bottom: 40px;
}

/* this is for the button*/
.searchButton {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;

  font-size: 15px;
  margin-left: -36px;
}

/* .searchButton:hover {
  transform: scale(1.2);
  background: #f7fba7;
  box-shadow: 0 0 5px #f7fba7, 0 0 25px #f7fba7, 0 0 50px #f7fba7,
    0 0 100px #f7fba7;
} */
.form {
  margin: 1rem;
}
.form input {
  border: none;
  height: 8px;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  box-shadow: 0 0 15px #ffffff;
  padding: 10px;
}
.form input:focus {
  outline: none;
  box-shadow: 0 0 15px #ebf199;
}
/* navbar */

.logo {
  margin-left: 25px;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  margin-left: 13px;
  padding: 15px 20px;
  transition: transform 0.2s ease-in-out;
}
.nav-link:hover {
  transform: scale(1.2);
  color: #e7f486;
}

/* watch later and favourite page style */
.wfpCard ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wfpCard ul li {
  position: relative;
  border-radius: 30px;
  box-shadow: 0px 0px 13px #ffffff;
  display: flex;
  background-color: #000000de;
  width: 450px;
  height: 400px;
  margin: 1.5rem;
  padding: 0;
  overflow: hidden;
}

.wfpCard img {
  padding-right: 10px;
  height: 100%;
  object-fit: cover;
}

.wfpCard h4 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 10px;
  height: 100px;
  overflow: hidden;
}

.wfpCard p {
  margin: 0;
  padding-right: 20px;
  font-size: 16px;
  text-align: center;
  height: 250px;
  overflow: auto;
  scrollbar-color: #ffeb51ee #000000;
}

/* for WebKit based browsers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #72707098;
}

::-webkit-scrollbar-thumb {
  background-color: #fff6419c;
  border-radius: 5px;
}

.wfpCard {
  position: relative;
}

.wfpCard .fwBTN {
  position: absolute;
  top: 0;
  font-size: x-large;
  left: 0;
  color: #ecf84c;
  background-color: #010814c5;
  font-weight: 900;
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
}

.watchLfavPageTitle {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  text-shadow: 3px 3px 3px #000;
}
.forHeight {
  min-height: 100vh;
}
.nothingAddedYet {
  animation: flicker 1.5s infinite alternate;
  color: #ffffff;
  font-weight: 600;

  font-size: 30px;
  letter-spacing: 2px;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px rgb(255, 249, 130), 0 0 90px rgb(247, 250, 133),
      0 0 100px rgb(255, 250, 111), 0 0 150px rgb(255, 252, 94);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.moviePlaceHolder {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  position: relative;
  min-height: 500px;
  background-size: cover;
  background-position: top center;
  display: flex;
  align-items: flex-end;
  box-shadow: inset 0 -60px 60px -20px rgba(0, 0, 0, 0.9),
    0px 20px 40px rgba(0, 0, 0, 0.8);
}
.heroTitle {
  font-size: 60px;
  margin-left: 30px;
  text-shadow: 3px 3px 3px #000;
}
.trailerButton {
  background-color: #0f1014;
  color: white;
  margin-left: 40px;
  outline: none;
  border: 1px solid white;
  padding: 10px;
  cursor: pointer;
}
.heroContent {
  max-width: 70%;
  padding-bottom: 60px;
  text-shadow: 1px 1px 1px #000;
  margin: 0;
}

.youtube-container {
  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.btnClose {
  margin: 20px;
  position: absolute;
  z-index: 10;
  bottom: 30px;
  left: 30px;
}
.movie-voting {
  position: absolute;
  right: 15px;
  color: #edf84ccf;
  top: 15px;
  background-color: #0f1014a6;
  border: 1px solid rgba(250, 230, 12, 0.786);
  padding: 10px;
  font-size: 12px;
  border-radius: 25px;
}
.sorry {
  font-size: xx-large;
  margin-left: 30px;
}
.span {
  color: yellow;
  font-size: 33px;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}

@media screen and (max-width: 748px) {
  .heroTitle {
    font-size: 40px;
    margin-left: 30px;
    text-shadow: 3px 3px 3px #000;
  }
}
@media screen and (max-width: 590px) {
  .nothingAddedYet {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .watchLfavPageTitle {
    font-size: 20px;
  }
  .wfpCard ul li {
    width: 100%;
    border-radius: 5%;
    margin: 1rem 10px;
    display: flex;
    flex-direction: row;
    max-height: 300px;
    max-width: 400px;
  }

  .wfpCard img {
    max-width: 50%;
    max-height: 100%;
    object-fit: cover;
  }

  .wfpCard h4 {
    font-size: 16px;
    height: auto;
    width: 50%;
  }

  .wfpCard p {
    font-size: 13px;
    text-align: left;
    overflow-y: scroll;
    width: 100%;
    margin-bottom: 5px;
  }
}
