.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.movieCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 3rem) / 4);
  margin: 1.5rem;
  min-width: max-content;
  max-width: 250px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
}

.movieCard img {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.movieCard h5 {
  text-align: center;
  max-width: 200px;
  overflow-wrap: break-word;
  margin-top: 10px;
}
